<div>

  <div>DAILY RANDOMIZER</div>

  <div class="startButton" (click)="startRandom()">
    START RANDOM
  </div>

  <div class="startButton" (click)="clearRandom()">
    CLEAR
  </div>

  <div class="teamselection">
    Team:
    <select (change)="changeTeam($event.target.value)">
      <option *ngFor="let t of teams">{{t.title}}</option>
    </select>
    Talk Time per Person (Sec)
    <input type="number" [(ngModel)]="timePerPerson">
  </div>

  <div class="randList">
    <div class="randElement" *ngFor="let p of persons; let i=index"
         [ngClass]="{'alreadyUsed': alreadyShownElements.includes(i)}">
      <div class="randText">
        {{p}}
      </div>

      <div class="selectionPoint" *ngIf="i === currentRandom">
      </div>

      <div class="restTime" *ngIf="i === currentRandom && timeRemaining > 0">
        {{timeRemaining}}
      </div>

    </div>
  </div>

  <div class="personsList">
    <textarea (change)="changePersons($event)" [value]="getPersonList()"></textarea>
  </div>

</div>


